.container {
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  justify-content: center;
}

.heading {
  font-size: 32px;
  color: #181b1f;
  font-weight: 500;
}

.images {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
  align-items: center;
  justify-content: center;
}

.heading1 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42.24px;
  color: #181b1f;
}

.sub_heading {
  font-size: 20px;
  line-height: 26.4px;
  font-weight: 400;
  color: #5b5d60;
}

.button {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  color: #181b1f;
  gap: 14px;
  text-transform: uppercase;
  white-space: nowrap;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.arrow {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #2a4074;
  border-radius: 50%;
  transform: rotateZ(-45deg);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  margin-top: 50px;
}

.arrow svg {
  color: #2a4074;
}

@media (min-width: 1024px) {
  .container {
    padding: 120px 100px;
  }

  .content {
    margin-top: 90px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .images {
    gap: 80px 40px;
  }
  .heading {
    font-size: 42px;
  }
  .heading1 {
    font-size: 42px;
    line-height: 55.48px;
  }

  .sub_heading {
    width: 489px;
  }
}
