.container {
    width: 100%;
    /* padding: 100px 0; */
    text-align: center;
    padding-top: 50px;
}

.heading {
    font-size: 18px;
    color: var(--grey);
    padding: 20px 0;
    letter-spacing: 3px;
}

.images {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.image {
    width: 100%;
    padding: 50px 0;
}

.image img {
    width: 70px;
}