.container {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
  position: relative;
}

.left_container {
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  /* border: 2px solid silver; */
}

.sticky_container {
  top: 120px;
  position: sticky;
  text-align: left !important;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  background: var(--blue);
  width: 80%;
  color: #fff;
}

a .builder_names {
  font-size: 18px;
  padding: 10px 0;
  font-weight: 800;
  width: 100%;
  /* background-color: red; */
  color: var(--grey);
  text-transform: capitalize;
  cursor: pointer;
}

.active {
 
  border-bottom: 2px solid #fff;
  color: #fff !important;
}

.active>div {
  color: #ffffff !important;
  font-weight: 800 !important;
}

.builder_names {
  font-size: 18px;
  padding: 10px 0;
  font-weight: 700 !important;
  width: 100%;
  /* background-color: red; */
  color: #838383 !important;
  text-transform: capitalize;
  cursor: pointer;
}

.builder_names:hover {
  color:  #fff !important;
}

.right_container {
  width: 70%;
  /* background-color: tomato; */
}

.company {
  padding-top: 150px;
}

.top {
  display: flex;
  /* border: 1px solid lime; */
  /* margin: 100px 0; */
  margin-bottom: 50px;
}

.top_left {
  width: 50%;
}

.logo {
  width: 30%;
}

.logo img {
  width: 100%;
  object-fit: cover;
}

.blue_underline {
  width: 300px;
  margin: 20px 0;
  border: 1px solid var(--blue);
}

.left_description {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  margin: 15px 0;
  width: 80%;
}

.top_right {
  width: 40%;
  padding: 40px;
  background-color: var(--blue);
}

.numbers {
  /* border: 1px solid lime; */
  display: flex;
  padding: 20px 0;
  font-weight: 700;
  font-size: 40px;
  flex-direction: column;
  color: white;
}

.numbers_description {
  color: white;
  font-size: 16px;
  font-weight: 400;
}

.right_button {
  background-color: white;
  color: var(--blue);
  text-align: center;
  padding: 20px 40px;
  font-weight: 700;
}

/* bottom gallery */
.bottom {
}

.bottom_heading {
  color: var(--skyblue);
  font-size: 34px;
  padding: 20px 0;
}

.bottom_image {
}

.bottom_image img {
  display: block;
  width: 100%;
}

.link__button {
  /* background-color: var(--blue); */
  background-color: #233e99;
  color: white;
  width: max-content;
  padding: 15px 40px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

@media (max-width: 600px) {
  .left_container {
    display: none;
  }
  .right_container {
    width: 100%;
  }

  .company,
  .top,
  .top_left,
  .top_right,
  .bottom {
    width: 95%;
    margin: auto;
    text-align: justify;
    flex-direction: column;
  }
  .company {
    /* border: 1px solid tomato;/ */
    padding: 0;
  }
  .left_description,
  .top {
    width: 100%;
  }
  .logo {
    width: 50%;
    margin-top: 50px;
  }

  .link__button {
    margin: 20px 0;
  }
}
