.container {
  display: flex;
  gap: 75px;
  padding: 0px 20px;
  position: relative;
  padding-bottom: 100px;
}

.page {
  padding-top: 70px;
}

.left_container {
  max-width: 332px;
  width: 100%;
  flex-shrink: 0;
  display: none;
  flex-direction: column;
  text-align: center;
  align-items: center;
  /* border: 2px solid silver; */
  border: 1px solid rgba(228, 229, 232, 1);
  background-color: rgba(42, 64, 116, 0.04);
  padding: 24px;
}

.sticky_container {
  top: 180px;
  position: sticky;
  text-align: left !important;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.logo img {
  height: 98px;
}

a .builder_names {
  font-size: 20px;
  font-weight: 400;
  line-height: 26.4px;
  width: 100%;
  /* background-color: red; */
  color: #181b1f;
  cursor: pointer;
}

.active {
  color: var(--blue) !important;
  font-weight: 700;
}

.active .builder_names {
  color: #2a4074 !important;
  font-weight: 700;
  padding-left: 37px;
  position: relative;
}

.active .builder_names::before {
  width: 31px;
  height: 2px;
  background-color: #2a4074;
  content: "";
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.builder_names {
  font-size: 18px;
  padding: 10px 0;
  font-weight: 800;
  width: 100%;
  /* background-color: red; */
  color: var(--grey);
  cursor: pointer;
}

.builder_names:hover {
  color: var(--blue);
}

.button {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  color: #181b1f;
  gap: 14px;
  text-transform: uppercase;
  white-space: nowrap;
}
.arrow {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #2a4074;
  border-radius: 50%;
  transform: rotateZ(-45deg);
}

.arrow svg {
  color: #2a4074;
}

.company {
  padding: 24px 27px;
  background-color: rgba(42, 64, 116, 0.04);
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.wrapper {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.gridWrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.imageWrapper {
  height: 271px;
  width: 100%;
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: center;
  width: 232px;
}

.info h2 {
  font-size: 42px;
  color: #2a4074;
  font-weight: 500;
}

.info span,
.gridWrapper p {
  color: #5b5d60;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.right_container {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

@media (min-width: 768px) {
  .left_container {
    display: flex;
  }

  .gridWrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .page {
    padding-top: 110px;
  }
}
