.container {
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card {
  padding: 72px 42px;
  background-color: rgba(42, 64, 116, 0.04);
}

.button {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  color: #181b1f;
  gap: 14px;
  text-transform: uppercase;
  white-space: nowrap;
}
.arrow {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #2a4074;
  border-radius: 50%;
  transform: rotateZ(-45deg);
}

.arrow svg {
  color: #2a4074;
}

.heading {
  font-size: 24px;
  line-height: 31.68px;
  font-weight: 500;
  color: #181b1f;
  margin-bottom: 14px;
  width: 200px;
}

.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #5b5d60;
  margin-bottom: 40px;
}

@media only screen and (min-width: 1024px) {
  .container {
    padding: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card {
    height: 372px;
  }

  .card:nth-child(2) {
    margin-top: 60px;
  }
}
