.container_box {
    display: flex;
    margin: 0 auto 100px auto;
    width: 80%;
    text-align: center;
    justify-content: space-between;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #E5E5E53B;
    padding: 50px;
    width: 23%;
}

.blue_heading {
    font-size: 34px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    color: var(--skyblue);
    margin: auto;
    padding-top: 100px;
}

.blue_line {
    width: 100px;
    color: var(--skyblue);
    border: 1px solid var(--skyblue);
}

.icon {}

.icon img {
    width: 100%;
}

.heading {
    font-weight: 700;
    color: var(--skyblue);
    line-height: 78px;
    font-size: 24px;
    white-space: nowrap;
    text-transform: capitalize;
}

.sub_heading {
    color: var(--blue);
}



.container {
    display: flex;
    /* text-align: center; */
    width: 80%;
    margin: 100px auto;
}

.map {
    width: 50%;
    border: none !important;
    /* border: 10px solid lime; */
}
.map iframe{
    width: 100%;
    display: block;
}

.mapborder {
    border: none;
}

.form {
    width: 60%;
    background-color: #2A4074;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    /* align-items: center; */
    /* border: 1px solid lime; */
}

.form_top {
    text-align: center;
    /* border: 1px solid lime; */
    /* padding: 5   0px 0; */
}

.form_heading {
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
    /* line-height: 32px; */
}

.form_sub_heading {
    font-size: 16px;
    font-weight: 400;
    /* line-height: 26px; */
    /* border: 1px solid lime; */
}

input {
    width: 100%;
    padding: 20px;
    margin-bottom: 40px;
    border: none;
    background-color: rgba(236, 236, 236, 0.4);
    outline: none;
    border: 1px solid rgb(218, 218, 218);
}

input::placeholder {
    color: rgb(224, 224, 224);
    text-transform: capitalize;
}

input[type="textarea"] {
    width: 100%;
    padding-bottom: 100px;
}

.main_form_container {
    display: flex;
    justify-content: space-around;
    /* border: 1px solid lime; */
}

.left_form_container {
    width: 45%;
}

.label_name {
    padding: 10px 0;
    font-weight: 700;
    /* border: 1px solid rgb(205, 16, 16); */
}

.button_and_textarea {
    width: 95%;
    margin: auto;
}

.send_button button {
    width: 100%;
    border: none;
    text-align: center;
    color: var(--blue);
    padding: 20px;
    background-color: white;
    cursor: pointer;
}

.name {}


@media (max-width:600px){
    .container,
    .container_box {
        width: 100%;
        flex-wrap: wrap;
    }

    .container_box{
        width: 90%;
        margin: auto;
    }
    
    .box {
        margin-bottom: 20px;
        width: 100%;
    }

    .container,
    .form,
    .map{
        width: 100%;
    }
    .map iframe{
        width: 100%;
        display: block;
        height: 500px;
    }
    .main_form_container,
    .left_form_container{
        width: 100%;
        flex-wrap: wrap;
        padding: 0 5px;
    }
    
    .form{
        padding: 100px 0;
    }
}