.slider_container {
    width: 80%;
    margin: auto;
}

.image_container {
    padding: 20px;
}

.image_container img {
    width: 100%;
    display: block;
}

.heading {
    color: var(--skyblue);
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 20px 0;
}

.sub_heading {
    font-weight: 400;
    font-size: 28px;
    padding: 10px 0;
}




@media (max-width:600px) {
    .slider_container {
        width: 100%;
        margin: auto;
    }

    .image_container {
        /* width: 100%; */
        padding: 0px 10px;
        /* border: 1px solid lime; */
    }

    .image_container img {
        width: 100%;
        display: block;
    }

    .heading {
        color: var(--skyblue);
        font-size: 14px;
        font-weight: 600;
        text-transform: capitalize !important;
        letter-spacing: 1px;
        padding: 20px 0;
    }

    .sub_heading {
        font-weight: 400;
        font-size: 16px;
        padding: 10px 0;
    }
}