.container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  gap: 40px 24px;
}

.page {
  padding-top: 70px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 120px;
  padding: 100px 20px;
}

.form {
  padding: 40px 57px;
  background-color: rgba(42, 64, 116, 0.04);
}

.form_top {
  text-align: center;
}

.form_heading {
  font-weight: 500;
  font-size: 24px;
  max-width: 423px;
  width: 100%;
  padding-bottom: 14px;
  color: #181b1f;
}

.form_sub_heading,
.sub_heading {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #5b5d60;
}

.form_sub_heading {
  padding-bottom: 40px;
  max-width: 429px;
  width: 100%;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
}

.right input,
.right select {
  width: 100%;
  padding: 13.5px 14px;
  border: 1px solid rgba(42, 64, 116, 0.1);
  color: #181b1f;
  background-color: transparent;
  margin-bottom: 0px;
}

.right input::placeholder {
  color: #181b1f;
}

.left .heading {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  color: #2a4074;
  white-space: nowrap;
  position: relative;
  letter-spacing: 2px;
  padding-left: 70px;
}

.left .heading::before {
  content: "";
  width: 64px;
  position: absolute;
  width: 64px;
  background-color: #2a4074;
  height: 1px;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.main_heading {
  font-size: 32px;
  color: #181b1f;
}

.right {
  padding: 42px 57px;
  background-color: rgba(42, 64, 116, 0.04);
  display: flex;
  flex-direction: column;
}

.right form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.left_form_container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px 24px;
}

.button_and_textarea {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.button_and_textarea button {
  width: 169px;
  height: 48px;
  font-size: 16px;
  color: #ffffff;
  background-color: #2a4074;
  font-weight: 400;
  border: 0px;
  outline: none;
}

@media only screen and (min-width: 1024px) {
  .left_form_container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1024px) {
  .page {
    padding-top: 110px;
  }
  .container {
    grid-template-columns: 1fr 1fr;
  }

  .mainContainer {
    padding: 100px;
  }

  .main_heading {
    line-height: 55.68px;
    font-size: 42px;
  }
}
