.container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: space-between;
    padding: 100px 0px;
    /* border: 1px soli/d lime; */
}

.left,
.right {
    width: 45%;
}

.left {
    width: 40%;
}

.form {
    padding: 40px 20px;
    width: 100%;
    background-color: #2A4074;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.form_top {
    text-align: center;
}

.form_heading {
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
    padding: 20px 0;
}

.form_sub_heading {
    font-size: 16px;
    padding: 40px 0;
    font-weight: 400;
}

input {
    width: 100%;
    padding: 20px;
    margin-bottom: 40px;
    border: none;
    background-color: rgba(236, 236, 236, 0.4);
    outline: none;
    border: 1px solid rgb(218, 218, 218);
}

input::placeholder {
    color: rgb(224, 224, 224);
    text-transform: capitalize;
}


.main_form_container {
    display: flex;
    justify-content: space-around;
}

.left_form_container {
    width: 45%;
}

.label_name {
    padding: 10px 0;
}

.button_and_textarea {
    width: 95%;
    margin: auto;
}

.send_button button {
    text-align: center;
    color: var(--blue);
    padding: 20px;
    width: 100% !important;
    text-transform: uppercase;
    background-color: white;
    /* background-color: red; */
    border: none;
    cursor: pointer;
}


.left .heading {
    font-size: 34px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    color: var(--skyblue);
    white-space: nowrap;
}

.mid_line {
    border: 1px solid var(--skyblue);
    width: 180px;
    margin-right: 30px;
}

.main_heading {
    font-size: 50px;
    color: var(--grey);
    padding: 30px 0;
    text-transform: capitalize;
}

.sub_heading2,
.sub_heading1 {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 29px;
    font-weight: 400px;
    word-spacing: 4px;
}


@media (max-width: 600px) {
    .container {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: space-between;
        padding: 10px 0px;
    }

    .container,
    .left,
    .right {
        width: 100%;
        flex-wrap: wrap;
        padding: 0 10px;
    }

    .form {
        margin: 10px 0;
    }

    .left .heading {
        font-size: 22px;
        width: 100%;
        padding: 30px 0;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        color: var(--skyblue);
        white-space: nowrap;
    }

    .main_heading {
        font-size: 34px;
        color: var(--grey);
        padding: 30px 0;
        text-transform: capitalize;
    }

    .sub_heading2,
    .sub_heading1 {
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 29px;
        font-weight: 400px;
        word-spacing: 4px;
    }

    .main_form_container {
        width: 95%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .left_form_container {
        width: 100%;
    }
}