.slider_container {
    position: relative;
    padding: 0 0px 0 100px;
    /* border: 2px solid red; */
    width: 100%;
    overflow: hidden;
    /* overflow-x: scroll  ; */
}

.container {
    position: relative;
    /* margin: 100px; */
    display: flex;
    /* justify-content: space-between; */
    overflow-x: hidden;
    /* overflow-x: scroll; */
    padding-left: 100px;
    width: 100%;
    /* border: 2px solid aqua; */
}

.card_container {
    position: relative;
    min-width: 400px;
    margin-right: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    color: white;
    background-color: var(--blue);
}

.image {
    width: 100%;
}

.image img {
    display: block;
    width: 100%;
}

.badge {
    position: absolute;
    text-transform: uppercase;
    padding: 10px;
    font-size: 12px;
    margin: 10px;
    background-color: var(--blue);
}

.content {
    padding: 40px 30px;
    /* background-color: red; */
}

.heading {
    font-size: 25px;
    text-transform: capitalize;
}

.sub_heading {
    font-size: 17px;
    padding: 20px 0;
    font-weight: 400;
}

.read_more_button {
    background-color: white;
    width: max-content;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    color: var(--blue);
    padding: 15px 30px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin: auto;
    margin-top: 20px;
}

.buttons button {
    /* padding: 0px 20px;/ */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    cursor: pointer;
    border: none;
    border-radius: 300px;
    color: var(--blue);
    background-color: transparent;
    transition: 100ms ease-in-out;
}

button:hover {
    transform: scale(1.1)
        /* box-shadow: outset 2px 20px 10px grey; */
        /* background-color: rgba(232, 232, 232, 0.889); */
}



@media(max-width: 600px) {
    .slider_container {
        position: relative;
        padding: 0 0px 0 0px;
        width: 100%;
        overflow: hidden;
    }

    .container {
        position: relative;
        display: flex;
        overflow-x: hidden;
        padding-left: 10px;
        width: 100%;
    }

    .card_container {
        position: relative;
        min-width: 300px;
        margin-right: 10px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        color: white;
        background-color: var(--blue);
    }
}