.container {
    width: 100%;
    color: white;
}

.container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.background_image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    display: flex;
    align-items: center !important;
    height: 80vh;
}


.content {
    /* height: 100vh; */
    /* align-items: center; */
    display: flex;
    height: auto;
    justify-content: center !important;
    padding: 0 100px;
    z-index: 99;
    flex-direction: column;
}

.heading {
    font-size: 70px;
    font-weight: 400;
    line-height: 78px;
}

.heading_line {
    border: 1px solid var(--skyblue);
    width: 100px;
    margin: 20px 0;
}

.sub_heading {
    font-size: 24px;
    line-height: 32px;
    width: 50%;
    font-weight: 500;
}

.button {
    color: var(--skyblue);
    margin-top: 30px;
    text-transform: capitalize;
}


@media (max-width: 600px) {
    .container {
        width: 100%;
        color: white;
    }

    .container::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }

    .background_image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        display: flex;
        align-items: center !important;
        height: 80vh;
    }


    .content {
        /* height: 100vh; */
        /* align-items: center; */
        display: flex;
        height: auto;
        justify-content: center !important;
        padding: 0 10%;
        z-index: 99;
        flex-direction: column;
    }

    .heading {
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
    }

    .heading_line {
        border: 1px solid var(--skyblue);
        width: 100px;
        margin: 20px 0;
    }

    .sub_heading {
        font-size: 16px;
        line-height: 32px;
        width: 100%;
        font-weight: 500;
    }

    .button {
        color: var(--skyblue);
        margin-top: 30px;
        /* font-size: 16px; */
        text-transform: uppercase;
    }

}