/* Accordion.css */

.accordion {
    width: 300px;
  }
  
  .accordion-item {
    background-color: #fff;
    margin-bottom: 1px;
  }
  
  .accordion-header {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    background-color: #f9f9f9;
  }
  
  .accordion-content {
    display: none !important;
    padding: 20px;
  }
  .accordion li {
    list-style: none;
    padding: 20px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.2);
  }
  .accordion .toggle{
    float: right;
    padding-right: 10px;
    font-size: 20px;
  }
  
  .accordion-item.active .accordion-content {
    display: block;
  }
  