.container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    text-align: center;
    position: relative;
}

.card_down,
.card {
    width: 30%;
    position: relative;
    margin-bottom: 10%;
}

.image {
    filter: brightness(0.7);
}

.card_down {
    margin-top: 5%;
}

.content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.icon {}

.icon img {
    width: 100%;
}

.heading {
    font-size: 34px;
    font-weight: 500;
    line-height: 47px;
    text-transform: capitalize;
    padding: 20px 0;
    border-bottom: 1px solid var(--skyblue);
}

.sub_heading {
    padding: 20px 0;
    line-height: 24px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
}


@media (max-width: 600px) {
    .container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .card_down,
    .card {
        width: 100%;
        position: relative;
        margin-bottom: 10%;
    }
}