.container {
  background: #233e990a;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.heading {
  width: 100%;
  white-space: wrap;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.heading h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  color: var(--grey);
  font-weight: 400;
  position: relative;
  padding-left: 70px;
  letter-spacing: 2px;
  line-height: 18.48px;
  box-sizing: border-box;
}

.heading h1::before {
  background-color: var(--grey);
  content: "";
  top: 50%;
  width: 64px;
  height: 1px;
  position: absolute;
  left: 0px;
  transform: translateY(-50%);
}

.sub_heading {
  color: #181b1f;
  font-size: 32px;
  line-height: 42.24px;
  font-weight: 500;
}

@media only screen and (min-width: 1024px) {
  .container {
    padding: 100px 100px 60px 100px;
  }
  .heading {
    justify-content: center;
  }

  .sub_heading {
    text-align: center;
  }
}
