.container {
    background-image: url('../../images/home/worker.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    position: relative;
}

.container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* z-index: -1; */
    /* Adjust the opacity here (0.5 for 50% opacity) */
}

.left {
    width: 40%;
    padding: 0 100px;
    z-index: 99;
}

.heading {
    border-top: 1px solid var(--skyblue);
    width: 100px;
    white-space: nowrap;
    color: white;
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 500;
    padding: 20px 0;
    cursor: pointer;
}

.active{
    font-size: 36px !important;
}

.sub_heading {
    border-top: 1px solid var(--skyblue);
    width: 100px;
    width: 100px;
    white-space: nowrap;
    color: white;
    font-size: 24px;
    font-weight: 500;
    padding: 20px 0;
    cursor: pointer;
    /* line-height: 23px;/ */
    text-transform: capitalize;
}

.right {
    right: 100px;
    bottom: -60px;
    padding: 100px;
    background-color: white;
    /* width: 60%; */
    width: 800px;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.Arabicright {
    left: 100px;
    bottom: -60px;
    padding: 100px;
    background-color: white;
    /* width: 60%; */
    width: 800px;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.right_line {
    border: 1px solid var(--blue);
    width: 100px;
    text-align: center;
    margin: auto;
}

.right_heading {
    font-size: 40px;
    padding: 40px 0;
}

.right_sub_heading {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    line-height: 27px;
}




@media (max-width : 600px) {

    .container {
        background-image: url('../../images/home/worker.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        height: 80vh;
        display: flex;
        justify-content: space-between;
        align-items: center !important;
        position: relative;
    }
    .left{
        display: none;
    }

    .right {
        right: 0px;
        bottom: 0px;
        padding:100px 20px;
        width: 100%;
        margin: auto;
    }

    .right_line {
        border: 1px solid var(--blue);
        width: 100px;
        text-align: center;
        margin: auto;
    }

    .right_heading {
        font-size: 40px;
        padding: 40px 0;
    }

    .right_sub_heading {
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        line-height: 27px;
    }
    .Arabicright {
        left: 0;
        bottom: 0;
        padding: 100px;
        background-color: white;
        /* width: 60%; */
        width: 100%;
        position: absolute;
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

}