.container {
  padding: 80px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px 24px;
}

.card {
  background-color: #2a40740a;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 502px;
  height: 100%;
}

.card h2 {
  font-size: 32px;
  color: #181b1f;
  font-weight: 500;
}

.card p {
  font-size: 14px;
  line-height: 21px;
  color: #181b1f;
  font-weight: 400;
}
.card ul {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.card ul li {
  font-weight: 700;
  font-size: 14px;
  color: #181b1f;
}

@media (min-width: 1024px) {
  .card h2 {
    font-size: 42px;
  }

  .card {
    height: 364px;
    padding: 40px;
    gap: 40px;
  }

  .card:nth-child(2) {
    margin-top: 58px;
  }
}
