.container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.const_container {
    background-image: url('../../images/about/const1.jpg');
    width: 47%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-transform: capitalize;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid var(--blue);
}

.girl_container {
    background-image: url('../../images/girls.jpg');
    width: 47%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-transform: uppercase;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid var(--blue);
}

.date {
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    background-color: var(--skyblue);
    padding: 10px 20px;
    margin: 10px;
}

.headline {
    /* position: absolute; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    text-transform: capitalize;
}

.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    padding: 40px 30px;
    color: var(--blue);
}

.line {
    border: 1px solid var(--skyblue);
    width: 100px;
    /* margin: 20px 0; */
}


@media (max-width: 600px) {
    .container {
        width: 90%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }

    .girl_container ,
    .const_container {
        background-image: url('../../images/about/const1.jpg');
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        text-transform: capitalize;
        background-repeat: no-repeat;
        background-size: contain;
        border: 1px solid var(--blue);
        margin-bottom: 20px;
    }

    .date {
        position: absolute;
        color: white;
        top: 0;
        left: 0;
        background-color: var(--skyblue);
        padding: 10px 20px;
        margin: 10px;
    }

    .headline {
        /* position: absolute; */
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 34px;
        text-transform: capitalize;
    }

    .bottom {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: white;
        padding: 40px 30px;
        color: var(--blue);
    }

    .line {
        border: 1px solid var(--skyblue);
        width: 100px;
        /* margin: 20px 0; */
    }
}