.container {
    position: sticky;
    /* position: fixed; */
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-evenly;
    text-transform: capitalize;
    align-items: center;
    padding: 10px;
    font-family: 'monteserrat';
    width: 100%;
    color: black;
    /* background-color: rgba(45, 45, 45, 0.413); */
    border-bottom: 0.5px solid #cfc9c9;
}

.logo {
    width: 15%;
    /* background: #646262; */
}

.logo img {
    width: 50%;
}

.links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    font-weight: 600;
    font-size: 15px;
    /* background-color: red; */
}

.link {
    padding: 10px 20px;
}

.link:hover {
    font-weight: 750;
    /* Make visited links bold */
    /* Add other styles as needed */
    /* text-shadow: 1px 1px 10px white; */
    /* box-shadow: 2px 2px 10px white; */
}

.button {
    width: max-content;
    /* width: 15%; */
    padding: 15px 25px;
    /* font-weight: 600; */
    letter-spacing: 2px;
    background-color: var(--blue);
    color: white;
}

.mobile_container {
    display: none;
}

.dropdownContainer {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
}

.dropdownContent {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(45, 45, 45, 0.413);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 2;
}


.mobilelangDD{   
     display: block;
    position: absolute;
    top: 63%;
    right: 50px;
    background-color: rgba(45, 45, 45, 0.413);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 2;
}


.dropdown_link {
    color: rgb(255, 255, 255);
    padding: 15px 10px;
    text-align: center;
    cursor: pointer;
    font-size: 14px !important;
}

.dropdown_link:hover {
    background-color: var(--blue);
    font-weight: 700;
}

.dropdownContainer:hover .dropdownContent {
    display: block;
}



@media (max-width:600px) {
    .container {
        display: none;
    }

    .mobile_container {
        display: block;
        background-color: #2A4074;
        width: 100%;
        padding: 0;
        color: white !important;
        position: fixed;
        z-index: 9999;

        backdrop-filter: blur(10px);
    }

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .left_mobile {
        width: 10%;
    }

    .left_mobile img {
        width: 120px;
        padding: 20px;
    }

    .right_mobile {
        width: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        padding: 5px 10px;
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        color: white;
        border: none;
        outline: none !important;
    }
    
    /* button .right_mobile{
        color: white;
        background-color: #2A4074;
        font-size: 20px;
    } */

    button {
        border: none;
        outline: none;
    }

    .bottom {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        justify-content: flex-start;
        text-align: center;
        margin: auto;
        height: 100vh;
    }

    .mobile_link {
        width: 90%;
        margin: auto;
        white-space: nowrap;
        font-weight: 600;
        text-transform: uppercase;
        /* color: #CFCA4C; */
        font-size: 24px;
        border-radius: 2px;
        padding: 10px 0;
        margin-top: 39px;
    }

}