.container {
    width: 100%;
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: flex-end;
    /* border: 10px solid lime; */
}

.left {
    width: 50%;
    position: relative;
    z-index: 99;
    /* border: 1px solid lime; */
}

.left img {
    width: 100%;
    display: block;
    position: relative !important;
}

.content {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content_heading {
    width: max-content;
    font-size: 44px;
    font-weight: 700;
    color: white;
    border-bottom: 2px solid #ffffff;
    padding: 20px 0;
    text-transform: capitalize;
}

.content_sub_heading {
    font-size: 18px;
    color: white;
    line-height: 30px;
    padding: 40px 30px 40px 0;
}

.content_button {
    text-transform: capitalize;
    background-color: #ffffff;
    width: max-content;
    padding: 20px 40px;
    border-radius: 2px;
    font-size: 17px;
    color: var(--blue);
    font-weight: 400;
    cursor: pointer;
}

.right {
    width: 50%;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
}

.right .top,
.right .bottom {
    width: 100%;
    /* height: 400px; */
    z-index: -9;
}

.right img {
    display: block !important;
    width: 100%;
    aspect-ratio: 1/1;
}


@media (max-width: 600px) {
    .container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: auto;
        justify-content: space-between;
        align-items: flex-end;
        /* border: 10px solid lime; */
    }

    .left {
        width: 100%;
        position: relative;
        z-index: 99;
        /* border: 1px solid lime; */
    }

    .left img {
        width: 100%;
        height: 70vh;
        background-position: center;
        background-size: cover;
        display: block;
        position: relative !important;
    }

    .content {
        width: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* display: none; */
    }

    .content_heading {
        width: max-content;
        font-size: 24px;
        font-weight: 700;
        color: white;
        border-bottom: 2px solid #ffffff;
        padding: 20px 0;
        text-transform: capitalize;
        /* display: none; */
    }

    .content_sub_heading {
        font-size: 16px;
        color: white;
        line-height: 30px;
        padding: 40px 0px 40px 0;
        text-align: justify;
        /* display: none; */
    }

    .content_button {
        text-transform: uppercase;
        background-color: #ffffff;
        width: max-content;
        padding: 20px 40px;
        border-radius: 2px;
        font-size: 16px;
        color: var(--blue);
        font-weight: 400;
        cursor: pointer;
        /* display: none; */
    }

    .right {
        display: none;
    }

}