.container {
  padding: 80px 20px;
  background: #233e990a;
}

.container .section1 span {
  font-size: 14px;
  color: #2a4074;
  padding-left: 70px;
  position: relative;
  letter-spacing: 2px;
}

.container .section1 span::before {
  position: absolute;
  top: 50%;
  left: 0px;
  width: 64px;
  height: 1px;
  content: "";
  width: 64px;
  transform: translateY(-50%);
  background-color: #2a4074;
}

.container .section1 h1 {
  font-size: 32px;
  color: #181b1f;
  font-weight: 500;
  margin-top: 24px;
  margin-bottom: 40px;
}

.mobileNews {
  list-style: none;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  margin-bottom: 40px;
}

.card {
  flex-shrink: 0;
  display: none;
}

.cardActive {
  display: block;
  flex-shrink: 0;
  width: calc(100vw - 40px);
}

.card h3,
.cardActive h3 {
  font-size: 24px;
  line-height: 31.68px;
  font-weight: 500;
  color: #2c2c2c;
  margin-bottom: 14px;
}

.card p,
.cardActive p {
  line-height: 21px;
  color: #5b5d60;
  font-weight: 400;
  font-size: 14px;
}

.imageWrapper {
  height: 283.34px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 24px;
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prevNextButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.prevNextButtons button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #2a4074;
}

.prevNextButtons button svg {
  color: #2a4074;
}

.prevNextButtons .active {
  background-color: #2a4074;
}

.prevNextButtons .active svg {
  color: #ffffff;
}

.button {
  display: none;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  color: #181b1f;
  text-transform: uppercase;
  gap: 14px;
  white-space: nowrap;
}

.arrow {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #2a4074;
  border-radius: 50%;
  transform: rotateZ(-45deg);
}

.arrow svg {
  color: #2a4074;
}

.container .section2 {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .mobileNews,
  .prevNextButtons {
    display: none;
  }

  .button {
    display: flex;
  }

  .card {
    display: block;
  }

  .container {
    padding: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }

  .container .section2 {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  .container .section1 .card {
    padding: 100px 0px;
  }

  .container .section1 .card .imageWrapper {
    height: 488px;
  }

  .container .section2 .card .imageWrapper {
    height: 360px;
  }

  .container .section1 h1 {
    font-size: 42px;
  }
}
