.container {
  padding: 80px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

.container::before {
  position: absolute;
  top: 0px;
  width: calc(100vw - 40px);
  content: "";
  height: 1px;
  left: 20px;
  background-color: #e4e5e8;
}

.container .content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.heading {
  font-size: 32px;
  color: #181b1f;
  font-weight: 500;
  line-height: 42.24px;
}

.sub_heading {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #5b5d60;
}

.button {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  color: #181b1f;
  gap: 14px;
  white-space: nowrap;
}
.arrow {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #2a4074;
  border-radius: 50%;
  transform: rotateZ(-45deg);
}

.arrow svg {
  color: #2a4074;
}

.imagesWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.imageWrapper {
  height: 362.32px;
  width: 100%;
  overflow: hidden;
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageWrapper:nth-child(2) {
  margin-top: 58px;
}

@media (min-width: 1024px) {
  .content {
    justify-content: center;
  }
  .container {
    padding: 100px 100px 0px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .heading {
    font-size: 42px;
    line-height: 55.44px;
  }

  .imageWrapper {
    height: 480px;
  }
}
