.footer {
  width: 100%;
  background-color: #181b1f;
  color: white;
  padding: 100px 20px;
}

.main_line {
  text-align: center;
  font-size: 20px;
  line-height: 26.4px;
  padding-bottom: 60px;
  border-bottom: 1px solid rgba(238, 238, 238, 0.3);
}

.footer_container {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
}

.left {
  padding: 60px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-bottom: 1px solid rgba(238, 238, 238, 0.3);
}

.logo img {
  height: 90px;
}

.tag_line {
  margin-bottom: 10px;
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
}

.left_box {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.phone {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 100;
  font-size: 14px;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.right {
  padding-top: 60px;
  display: flex;
  gap: 48px;
  justify-content: center;
}

.right_company {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.right_company_heading {
  color: #72cdf4;
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 6px;
}

.right_company_content {
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
  line-height: 15.84px;
}

@media only screen and (min-width: 768px) {
  .footer_container {
    flex-direction: row;
    justify-content: space-between;
  }

  .left {
    text-align: left;
    border-bottom: 0px;
    padding-top: 37px;
    padding-bottom: 0px;
    gap: 40px;
  }

  .icons {
    justify-content: flex-start;
  }

  .phone {
    justify-content: flex-start;
  }
  .logo img {
    height: 74px;
  }

  .right {
    padding-top: 37px;
    gap: 67px;
  }

  .tag_line {
    font-size: 16px;
  }
  .right_company_content {
    font-size: 14px;
  }

  .main_line {
    font-size: 24px;
  }
}

@media only screen and (min-width: 1024px) {
  .footer {
    padding: 100px;
  }
}
