.container {
    display: flex;
    width: 100%;
    /* background-color: var(--blue); */
    background-color: white;
    /* color: white; */
}

.left {
    width: 50%;
    height: 400px;
    overflow: hidden;
}

.left img {
    width: 100%;
    height: 100%;
}

.right {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 150px 0 50px;
    justify-content: space-evenly;
}

.right_heading {
    font-size: 34px;
    line-height: 47px;
    font-weight: 500;
    color: var(--skyblue);
    text-transform: capitalize;
}

.right_line {
    /* border: 1px solid white; */
    width: 200px;
}

.right_text {
    word-spacing: 2px;
    line-height: 27px;
}

.right_button {
    width: max-content;
    /* background-color: white; */
    color: white;
    background-color: var(--blue);
    padding: 20px 40px;
    text-transform: uppercase;
    cursor: pointer;
}



@media (max-width: 600px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        width: 100%;
        background-color: white;
        padding: 20px 0;
    }

    .left {
        width: 100%;
    }

    .left img {
        width: 100%;
        display: block;
    }

    .right {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        padding: 0;
        justify-content: space-evenly;
    }

    .right_heading {
        padding-top: 20px;
        font-size: 24px;
        font-weight: 500;
        color: var(--skyblue);
        text-transform: capitalize;
    }

    .right_line {
        width: 200px;
    }

    .right_text {
        word-spacing: 2px;
        line-height: 27px;
        font-size: 16px;
        padding: 30px 0;
    }

    .right_button {
        width: max-content;
        color: white;
        background-color: var(--blue);
        padding: 20px 40px;
        font-size: 16px;
        text-transform: uppercase;
        cursor: pointer;
    }
}