.container {
    display: flex;
    width: 100%;
    background-color: var(--blue);
    color: white;
}

.left {
    width: 50%;
}

.left img {
    width: 100%;
    display: block;
}

.right {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 150px 0 50px;
    justify-content: space-evenly;
}

.right_heading {
    font-size: 34px;
    line-height: 47px;
    font-weight: 500;
    text-transform: capitalize;
}

.right_line {
    border: 1px solid white;
    width: 200px;
    margin-top: 20px;
}

.right_text {
    word-spacing: 2px;
    line-height: 27px;
}

.right_button {
    width: max-content;
    background-color: white;
    color: var(--blue);
    padding: 20px 40px;
    text-transform: uppercase;
    cursor: pointer;
}


@media (max-width: 600px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        width: 100%;
        background-color: var(--blue);
        color: white;
    }

    .left {
        width: 100%;
    }

    .left img {
        width: 100%;
        display: block;
    }

    .right {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        padding: 30px 0;
        text-align: justify;
        justify-content: space-evenly;
    }

    .right_heading {
        font-size: 24px;
        /* background-color: red; */
        line-height: 47px;
        font-weight: 500;
        text-transform: capitalize;
        /* padding: 20px 0; */
    }

    .right_line {
        border: 1px solid white;
        width: 200px;
        margin-top: 20px;
    }

    .right_text {
        word-spacing: 2px;
        line-height: 27px;
        padding: 40px 0;
        font-size: 16px;
    }

    .right_button {
        width: max-content;
        background-color: white;
        color: var(--blue);
        padding: 15px 30px;
        text-transform: uppercase;
        cursor: pointer;
    }
}